.checkout-from label{
    font-size: 12px;
    font-weight: 700;
}
.checkout-from input{
    font-size: 14px;
    padding: 5px;
    font-weight: 400;
}
.order-details label{
    font-size: 12px;
    font-weight: 700;
}
.order-details div{
    font-size: 14px;
    padding: 10px !important;
}
.searcha{
    width: 40%;
    margin-left: 5%; 
}
.ui-menu{
    z-index: 3000 !important;
}
